<div class="question">
  <div *ngFor="let item of Test">
    <p><b>{{item.question}}</b></p>
    <div>
      <label class="container"
        >N/A
        <input type="radio" (click)="checkedChang(item,1)" name="{{item.id}}" />
        <span class="checkmark" ></span>
      </label>
      <label class="container">
        N
        <input type="radio"(click)="checkedChang(item,2)"name="{{item.id}}" />
        <span class="checkmark"></span>
      </label>
      <label class="container"
        >Y
        <input type="radio" (click)="checkedChang(item,3)"name="{{item.id}}" />
        <span class="checkmark"></span>
      </label>
      <div *ngIf="item.Rating0==1" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" [(ngModel)]="item.Remake"> </textarea>
        </div>
      </div>
    </div>
  </div>

</div>

