#question{
    background-color:#bec1c5;
    height: 100vh;

    .content{
        background-color: white;
        border-radius: 7px;
        padding: 20px;
    }
}

.navbar{
    background-color:#51b5d2
}
