<div>
  <ng-container *ngIf="false">
    <app-sme-score-choose-quesion></app-sme-score-choose-quesion>
  </ng-container>

  <ng-container *ngIf="true">
    <div class="font-title">
      <b > SME 稽核評分紀錄  </b>
    </div>
    <div class="question">
    <div>
      <p><b>1.0.HEALTH && SAFETY</b></p>
      <label class="container"> N/A
        <input type="radio" [value] ="0" [(ngModel)]="text"  >
        <span class="checkmark"></span>

      </label>
      <label class="container"> 0
        <input type="radio" [value] ="1" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 1
        <input type="radio" [value] ="2" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 2
        <input type="radio" [value] ="3" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <div *ngIf="text== '0'" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" >
            </textarea>
        </div>
      </div>
    </div>
    <div>
      <p><b>1.1.Nơi làm việc có tuân theo hướng</b></p>
      <label class="container">N/A
        <input type="radio" [value] ="0" [(ngModel)]="text"  >
        <span class="checkmark"></span>

      </label>
      <label class="container"> 0
        <input type="radio" [value] ="1" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 1
        <input type="radio" [value] ="2" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 2
        <input type="radio" [value] ="3" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <div *ngIf="text== '0'" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" >
            </textarea>
        </div>
      </div>
    </div>
    <div>
      <p><b>1.2.Người thao tác được bảo vệ khỏi</b></p>
      <label class="container">N/A
        <input type="radio" [value] ="0" [(ngModel)]="text"  >
        <span class="checkmark"></span>

      </label>
      <label class="container"> 0
        <input type="radio" [value] ="1" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 1
        <input type="radio" [value] ="2" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 2
        <input type="radio" [value] ="3" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <div *ngIf="text== '0'" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" >
            </textarea>
        </div>
      </div>
    </div>
    <div>
      <p><b>1.3.Những bộ phận phát nhiệt nhọn</b></p>
      <label class="container">N/A
        <input type="radio" [value] ="0" [(ngModel)]="text"  >
        <span class="checkmark"></span>

      </label>
      <label class="container"> 0
        <input type="radio" [value] ="1" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 1
        <input type="radio" [value] ="2" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 2
        <input type="radio" [value] ="3" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <div *ngIf="text== '0'" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" >
            </textarea>
        </div>
      </div>
    </div>
    <div>
      <p><b>1.4.Các máy móc quan trọng trong khu vực</b></p>
      <label class="container">N/A
        <input type="radio" [value] ="0" [(ngModel)]="text"  >
        <span class="checkmark"></span>

      </label>
      <label class="container"> 0
        <input type="radio" [value] ="1" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 1
        <input type="radio" [value] ="2" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 2
        <input type="radio" [value] ="3" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <div *ngIf="text== '0'" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" >
            </textarea>
        </div>
      </div>
    </div>
    <div>
      <p><b>1.5.Tạo nên môi trường làm việc</b></p>
      <label class="container">N/A
        <input type="radio" [value] ="0" [(ngModel)]="text"  >
        <span class="checkmark"></span>

      </label>
      <label class="container"> 0
        <input type="radio" [value] ="1" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 1
        <input type="radio" [value] ="2" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 2
        <input type="radio" [value] ="3" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <div *ngIf="text== '0'" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" >
            </textarea>
        </div>
      </div>
    </div>
    <div>
      <p><b>1.6.Đảm bảo bất kì chất thải có thể</b></p>
      <label class="container">N/A
        <input type="radio" [value] ="0" [(ngModel)]="text"  >
        <span class="checkmark"></span>

      </label>
      <label class="container"> 0
        <input type="radio" [value] ="1" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 1
        <input type="radio" [value] ="2" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 2
        <input type="radio" [value] ="3" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <div *ngIf="text== '0'" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" >
            </textarea>
        </div>
      </div>
    </div>
    <div>
      <p><b>2.0.QUALITY MANAGEMENT</b></p>
      <label class="container">N/A
        <input type="radio" [value] ="0" [(ngModel)]="text"  >
        <span class="checkmark"></span>

      </label>
      <label class="container"> 0
        <input type="radio" [value] ="1" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 1
        <input type="radio" [value] ="2" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 2
        <input type="radio" [value] ="3" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <div *ngIf="text== '0'" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" >
            </textarea>
        </div>
      </div>
    </div>
    <div>
      <p><b>3.0.QUALITY MANAGEMENT</b></p>
      <label class="container">N/A
        <input type="radio" [value] ="0" [(ngModel)]="text"  >
        <span class="checkmark"></span>

      </label>
      <label class="container"> 0
        <input type="radio" [value] ="1" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 1
        <input type="radio" [value] ="2" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 2
        <input type="radio" [value] ="3" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <div *ngIf="text== '0'" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" >
            </textarea>
        </div>
      </div>
    </div>
    <div>
      <p><b>3.1.Áp dụng hệ thống kéo có hiệu quả</b></p>
      <label class="container">N/A
        <input type="radio" [value] ="0" [(ngModel)]="text"  >
        <span class="checkmark"></span>

      </label>
      <label class="container"> 0
        <input type="radio" [value] ="1" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 1
        <input type="radio" [value] ="2" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 2
        <input type="radio" [value] ="3" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <div *ngIf="text== '0'" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" >
            </textarea>
        </div>
      </div>
    </div>
    <div>
      <p><b>3.2.Lưu trình nguyên vật liệu và vận</b></p>
      <label class="container">N/A
        <input type="radio" [value] ="0" [(ngModel)]="text"  >
        <span class="checkmark"></span>

      </label>
      <label class="container"> 0
        <input type="radio" [value] ="1" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 1
        <input type="radio" [value] ="2" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" > 2
        <input type="radio" [value] ="3" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <div *ngIf="text== '0'" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" >
            </textarea>
        </div>
      </div>
    </div>
  </div>
    <div class="ml-1">
<button type="button" class="btn btn-add-new  btn-success"> Email   </button>


<button type="button" class="btn btn-add-new   btn-danger"><i class="fa fa-ban"></i> Cancel</button>


<button type="button" class="btn btn-add-new btn-success "  ><i class="fa fa-check"></i> Save</button>


  <button type="button" class="btn btn-add-new btn-success "  ><i class="fa fa-check"></i> Save & New</button>
    </div>
  </ng-container>
</div>

