<div>
  <ng-container *ngIf="!question">
    <div class="choose-question">
      <div class="row">
        <div class="col-11">
          <p class="title-head">SME 稽核評分紀錄</p>
        </div>
        <div class="col-1">
          <button type="button" class="btn btn-sm btn-primary float-right" (click)="back()"><i class="fa fa-chevron-left"></i>
            Back</button>
        </div>
        </div>
      <div class="form-group row">
        <div class="col-6 col-md-3">
          <label class="badge badge-warning">Date</label>
          <div class="input-group">
            <select class="form-control" name="" id="">
              <option value="1">1</option>
              <option value="1">1</option>
              <option value="1">1</option>
            </select>
            <span class="input-group-text">
              <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <label class="badge badge-warning">PDC</label>
          <select class="form-control" name="" id="">
            <option value="1">1</option>
            <option value="1">1</option>
            <option value="1">1</option>
          </select>
        </div>
        <div class="col-6 col-md-3">
          <label class="badge badge-warning">Building</label>
          <select class="form-control" name="" id="">
            <option value="1">1</option>
            <option value="1">1</option>
            <option value="1">1</option>
          </select>
        </div>
        <div class="col-6 col-md-3">
          <label class="badge badge-warning">Line</label>
          <select class="form-control" name="" id="">
            <option value="1">1</option>
            <option value="1">1</option>
            <option value="1">1</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6 col-md-3">
          <label class="badge badge-warning">Audit Type 2</label>
          <select class="form-control" name="" id="">
            <option value="1">1</option>
            <option value="1">1</option>
            <option value="1">1</option>
          </select>
        </div>
        <div class="col-6 col-md-3">
          <label class="badge badge-warning">ME Auditor</label>
          <select class="form-control" name="" id="">
            <option value="1">1</option>
            <option value="1">1</option>
            <option value="1">1</option>
          </select>
        </div>
        <div class="col-12 col-md-3">
          <label class="badge badge-warning">PD_Resp</label>
          <select class="form-control" name="" id="">
            <option value="1">1</option>
            <option value="1">1</option>
            <option value="1">1</option>
          </select>
        </div>

      </div>
      <div class="form-group row">
        <div class="col-6 col-md-3">
          <label class="badge badge-warning">Update By</label>
          <input class="form-control" type="text" name="model_name" placeholder="HCE">
        </div>
        <div class="col-6 col-md-3">
          <label class="badge badge-warning">Update Time</label>
          <input class="form-control" type="text" name="model_name" placeholder="AHIHI đồ con chó">
        </div>
        <div class="col-6 col-md-3 mt-auto">
          <div class="row">

            <div class="col-6">
              <button type="button" style="width: 115px; float: right;"
                            class="btn btn-block btn-primary" (click)="hideQuestion()"><i class="fa fa-arrow-right"></i> Next
                            </button>
            </div>
          </div>
          </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="question">
    <app-sixs-recored-choose-quesion (QuestionEvent) ="receiveQuestion($event)"></app-sixs-recored-choose-quesion>
  </ng-container>
</div>



