<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <!--/.col-->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-10">
              <i class="fa fa-align-justify"></i> List 6S Record
            </div>
            <div class="col-lg-2">
              <button
                type="button"
                class="btn btn-sm btn-primary float-right"
                (click)="addNew()"
              >
                <i class="fa fa-plus"></i> Add new
              </button>
            </div>
          </div>
          <div class="row">
            <div class="font-row col-3">
              <label class="badge badge-warning font-lable">From Time</label>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="Start"
                  [(ngModel)]="timeStart"
                  type="text"
                  bsDatepicker
                  [bsConfig]="{
                    isAnimated: true,
                    dateInputFormat: 'YYYY/MM/DD'
                  }"
                />
                <span class="input-group-text">
                  <span class="fa fa-calendar"></span>
                </span>
              </div>
              <div class="col-2"></div>
              <label class="badge badge-warning font-lable">Line</label>
              <select class="form-control" name="" id="" [(ngModel)]="line">
                <option value="{{ item.id }}" *ngFor="let item of lines">
                  {{ item.text }}
                </option>
              </select>
            </div>
            <div class="font-row col-3">
              <label class="badge badge-warning font-lable">To Time</label>
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="End"
                  [(ngModel)]="timeEnd"
                  type="text"
                  bsDatepicker
                  [bsConfig]="{
                    isAnimated: true,
                    dateInputFormat: 'YYYY/MM/DD'
                  }"
                />
                <span class="input-group-text">
                  <span class="fa fa-calendar"></span>
                </span>
              </div>
              <div class="col-2"></div>
              <label class="badge badge-warning font-lable">Audit_Type 2</label>
              <select
                [(ngModel)]="auditType2"
                name="auditType2"
                id="auditType2"
                class="select-list form-control"
              >
                <option
                  *ngFor="let item of auditType2List"
                  value="{{ item.id }}"
                  >{{ item.text }}
                </option>
              </select>
            </div>
            <div class="font-row col-3">
              <label class="badge badge-warning font-lable">PDC</label>
              <select class="form-control" name="" [(ngModel)]="pdc" id="">
                <option value="{{ item.id }}" *ngFor="let item of pdcList">{{
                  item.text
                }}</option>
              </select>
              <div class="col-3 ml-5">
                <div class="col-1 ml-4">
                  <button
                    type="button"
                    class="btn btn-block btn-query1 float-right btn-secondary"(click) =search()>
                    <i class="fa fa-search"></i> Search
                  </button>
                </div>
                <div class="col-1 ml-5">
                  <button
                    type="button"
                    class="btn btn-block btn-query1 btn-success"
                    (click)="exportExcel()"
                  >
                    <i class="fa fa-file-excel-o"></i>
                    <span style="margin-left: 2px;">Excel</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="font-row col-3">
              <label class="badge badge-warning font-lable">Building</label>
              <select class="form-control" name="" [(ngModel)]="building" id="">
                <option value="{{ item.id }}" *ngFor="let item of buildings">{{
                  item.text
                }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body mt-1">
          <ngx-spinner
            bdOpacity="0.2"
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#20A8D8"
            type="pacman"
          >
          </ngx-spinner>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Audit_Date</th>
                  <th>Audit_Type</th>
                  <th>Audit_Type2</th>
                  <th>Line_ID</th>
                  <th>Rating NA</th>
                  <th>Rating0</th>
                  <th>Rating1</th>
                  <th>Total</th>
                  <th>Need to do qty</th>
                  <th>Achieving%</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of auditRate6S; let i = index">
                    <th>{{ item.auditDate | date: "yyyy/MM/dd" }}</th>
                    <th>{{ item.auditType }}</th>
                    <th>{{ item.auditType2 }}</th>
                    <th>{{ item.lineId }}</th>
                    <th>{{ item.ratingNa }}</th>
                    <th>{{ item.rating0 }}</th>
                    <th>{{ item.rating1 }}</th>
                    <th>{{ item.total }}</th>
                    <th>{{ item.needToDoQty }}</th>
                    <th>{{ item.achieving *100  | number : '1.2-2'}}%</th>
                   <th><button type="button" class="btn btn-primary btn-sm mr-2" (click)="changeToDetail(item.recordId)"><i
                    class="fa fa-edit fa-lg"></i>Detail</button></th>
                   </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex" *ngIf="pagination.totalPages > 0">
            <pagination
                [boundaryLinks]="true"
                [totalItems]="pagination.totalItems"
                [(ngModel)]="pagination.currentPage"
                [itemsPerPage]="pagination.itemsPerPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"
                [maxSize]="5"
              >
              </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
