<ng-container *ngIf="!question">
  <app-sixs-recored-choose-quesion (QuestionEvent) ="receiveQuestion($event)"></app-sixs-recored-choose-quesion>
</ng-container>

<ng-container *ngIf="question">
  <div class="font-title">
      <b > 精實系統稽核評分紀錄  </b>
      <button type="button" class="btn btn-sm btn-primary float-right" (click)="backList()"><i class="fa fa-chevron-left"></i>
        Back</button>
    </div>
  <div class="question">
    <div>
      <p><b>Custom Radio Buttons</b></p>
      <label class="container">N/A
        <input type="radio"  [value] ="0"[(ngModel)]="text"  >
        <span class="checkmark"></span>
      </label>
      <label class="container" > N
        <input type="radio" [value] ="1"[(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" >Y
        <input type="radio" [value] ="2" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <div *ngIf="text== '0'" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" >
            </textarea>
        </div>
      </div>
    </div>
    <div>
      <p><b>Custom Radio Buttons 2</b></p>
      <label class="container" >N/A
        <input type="radio"  [value] ="0"[(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container"> N
        <input type="radio"[value]="1" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <label class="container" >Y
        <input type="radio" [value]="2" [(ngModel)]="text" >
        <span class="checkmark"></span>
      </label>
      <div *ngIf="text ==0" class="row">
        <div class="col-12">
          <label>Remake :</label>
        </div>
        <div class="col-12">
          <textarea class="remake ml-5" >
            </textarea>
        </div>
      </div>
    </div>
  </div>
<div class="ml-1">
<button type="button" class="btn btn-add-new  btn-primary">
   <i class="fa fa-envelope"></i><span style="margin-left: 2px;"> E-mail</span>  </button>

<button type="button" class="btn btn-add-new   btn-danger"><i class="fa fa-ban"></i> Cancel</button>

<button type="button" class="btn btn-add-new btn-success "  ><i class="fa fa-check"></i> Save & New</button>

<button type="button" class="btn btn-add-new btn-success "  ><i class="fa fa-check"></i> Save</button>

  <button type="button"  class="btn btn-add-new  btn-primary">
    <i class="fa fa-file-excel-o"></i> <span style="margin-left: 2px;">Excel</span>
</button>
</div>

</ng-container>
