<div class="question">
  <div *ngFor="let item of questions">
    <p><b>{{item.auditItem}}. {{item.quesion}}</b></p>
    <label class="container"
      >N/A
      <input type="radio" name="{{item.auditItem+item.auditTypeID}}" (click)="checkChange(item, 3)"/>
      <span class="checkmark"></span>
    </label>
    <label class="container">
      N
      <input type="radio" name="{{item.auditItem+item.auditTypeID}}" (click)="checkChange(item, 0)"  />
      <span class="checkmark"></span>
    </label>
    <label class="container"
      >Y
      <input type="radio" checked name="{{item.auditItem+item.auditTypeID}}" (click)="checkChange(item, 1)"/>
      <span class="checkmark"></span>
    </label>
    <div *ngIf="item.rating_0 == 1" class="row">
      <div class="col-12">
        <label>Remake :</label>
      </div>
      <div class="col-12">
        <textarea class="remake ml-5 form-control" [(ngModel)]="item.remark"> </textarea>
      </div>
    </div>
  </div>
</div>
<!-- <div class="ml-1">
  <button type="button" class="btn btn-add-new btn-primary">
    <i class="fa fa-envelope"></i><span style="margin-left: 2px;"> E-mail</span>
  </button>

  <button type="button" class="btn btn-add-new btn-danger">
    <i class="fa fa-ban"></i> Cancel
  </button>

  <button type="button" class="btn btn-add-new btn-success">
    <i class="fa fa-check"></i> Save & New
  </button>

  <button type="button" class="btn btn-add-new btn-success">
    <i class="fa fa-check"></i> Save
  </button>

  <button type="button" class="btn btn-add-new btn-primary">
    <i class="fa fa-file-excel-o"></i>
    <span style="margin-left: 2px;">Excel</span>
  </button>
</div> -->
